<!DOCTYPE html>
<html>
<%-include('partials/header')-%>
<link rel="stylesheet" href="/stylesheets/css/viewsCSS/landing.css">
<body>

    <header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 navbar-dark">
        <div class="container position-relative" data-aos="fade-down" data-aos-duration="2000">
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item me-2">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item me-2">
                        <a href="/contact" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-auto">
            </div>
        </div>
    </nav>
</header>
    <main>
        <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
            <div class="container">
                <div class="bootstrap-big-icon d-none d-lg-block">                     
                 <img src="../assets/img/brand/clipart2691497.png">
                        </div>
                <div class="row">
                    <div class="col-12 text-center">

                        <img class="mb-2" src="https://fontmeme.com/permalink/210320/c38112f2aab8c423e67f009a7a09a42b.png" alt="samarkan-font" border="0" data-aos="fade-down" data-aos-duration="3000">
                        <h2 class="lead fw-normal text-muted mb-5" data-aos="zoom-in" data-aos-duration="2000">SOS Assistance Platform</h2>
                        <div class="d-flex align-items-center justify-content-center mb-5">
                             <a href="/signup" data-aos="fade-right" data-aos-duration="2000">
                                 <button class="btn mb-2 me-2 btn-outline-success" type="button"><i class="fas fa-user-plus  me-2"  ></i>Signup</button>
                             </a>
                             <a href="/login" data-aos="fade-left" data-aos-duration="2000">
                                 <button class="btn mb-2 me-2 btn-outline-secondary" type="button"><i class="fas fa-sign-in-alt me-2"></i>Login</button>
                             </a>
                            
                        </div>
                        <div class="d-flex justify-content-center flex-column mb-6 mb-lg-5">
                                
                                <span class="text-muted font-small">Made with <i style="color: rgb(202, 30, 30)" class="fas fa-heart fa-md"></i> in India</b> </span>
                        </div>
                    </div>
                </div>
            </div>       
        </section>
</body>

<%-include('partials/footer')-%>

<script>
    AOS.init();
  </script>
</html>